<div *ngFor="let algoType of algorithmTypes">
  <div class="card mb-3">
    <h5 class="card-header">{{ algoType.type }}</h5>
    <div class="card-body">
      <p class="card-text">
        {{ algoType.description }}
      </p>
      <a routerLink="{{ algoType.link }}" class="btn btn-primary">Visualize</a>
    </div>
  </div>
</div>
<div class="card mb-3">
  <h5 class="card-header">Hii</h5>
  <div class="card-body">
    <p class="card-text">
      Hi There API Tester
    </p>
    <a  class="btn btn-primary">Visualize</a>
  </div>
</div>
