<div class="chessBoardOutLineBorder">
  <div class="chessBoardRow" *ngFor="let row of chessBoard; index as i">
    <div
      (click)="pressedOnTile(i, j)"
      *ngFor="let tile of row; index as j"
      [ngClass]="
        (i % 2 == 0 && j % 2 == 0) || (i % 2 == 1 && j % 2 == 1)
          ? 'whiteTile'
          : 'blackTile'
      "
      class="chessBoardTile"
    >
      <img
        *ngIf="horseTileIndex.x == j && horseTileIndex.y == i"
        [src]="horseTile"
      />
    </div>
  </div>
</div>

<div class="pt-2 pb-2 d-flex justify-content-around bg-black rounded-bottom">
  <button type="button" class="btn btn-outline-light">
    <img src="../../assets/horse_white.png" alt="" />
  </button>
  <button type="button" class="btn btn-outline-light">
    <img src="../../assets/horse_white.png" alt="" />
  </button>
  <button type="button" class="btn btn-outline-light">
    <img src="../../assets/horse_white.png" alt="" />
  </button>
  <button type="button" class="btn btn-outline-light">
    <img src="../../assets/horse_white.png" alt="" />
  </button>
  <button type="button" class="btn btn-outline-light">
    <img src="../../assets/horse_white.png" alt="" />
  </button>
  <button type="button" class="btn btn-outline-light">
    <img src="../../assets/horse_white.png" alt="" />
  </button>
  <button type="button" class="btn btn-outline-light">
    <img src="../../assets/horse_white.png" alt="" />
  </button>
</div>
